@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fugaz+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

button:hover {
    cursor: pointer;
    
}


html {
    margin: 0px;
}

.hero-desktop {
    display: none;
}

.hero-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: red; */
    width: 100%;
    height: 100vh;
    background-image: url();
}





/* header mobile */


.header-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg,#0A135D,#1528C3);
    width: 100%;
    color: whitesmoke;
    padding: 25px ;
    gap: 25px;
    box-sizing: border-box;
    height: 250px;
    /* padding-bottom: px; */
    /* padding-bottom: 25px ; */
}


.header-mobile >  .ul-top {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 450px;  
    
    /* background: rgb(219, 138, 44); */
    box-sizing: border-box;
   
}




.header-mobile > .ul-top > span {
   padding-inline: 25px ;
    font-family: "Roboto" ,serif;
    gap: 5px;
    /* background: #23bb5d; */
    width: 90%;
    max-width: 600px;
    font-size: larger;
    font-weight: 300;
    box-sizing: border-box;
    
}

.header-mobile > .ul-top > span > svg {
    width: 25px;
}


.header-mobile > .ul-top > span:nth-child(2) {
    display: flex;
    justify-content: start;
    align-items: center ;
    border-left: solid white 1px;
}

.header-mobile > .ul-top > span:nth-child(1) {
    display: flex;
    justify-content: end;
    align-items: center ;
    border-right: white 1px solid;
}


.header-mobile > h1 {
    font-family: "Fugaz one" , serif;
    font-weight: normal;
    letter-spacing: 10px;
    font-size: clamp(1.5rem,3vw,2.2rem);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding-inline: 20px;
    /* background: rebeccapurple; */
}


/* fin header mobile */






.center-hero-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    flex-direction: column;
    gap: 0px;
    background-image: url("/image/welcomephoto-mobile.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: whitesmoke;
    font-weight: 300;
}

.center-hero-mobile > li {
    display: flex;align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;    
    font-size: 1.5rem;
    width: 70vw;
    font-family: "Roboto" ,serif;
}


.center-hero-mobile > p {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(100, 100, 206); */
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Roboto",serif;
    width: 80vw;
    text-align: center;
}

.center-hero-mobile > p {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}

.center-hero-mobile > p > span {   
    border-bottom: white solid 1px;
    width: 75vw;
    max-width: 500px;

}

.cta-mobile-hero {
    position: fixed;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 90vw;
    max-width: 300px;
    height: 50px;
    margin-bottom: 25px;
    box-sizing: border-box;
    z-index: 50;
}

.icon-phone {
    width: 30px;
    height: 25px;
}



/* section avantage */
.avantage {
    display: flex;
    flex-direction: column;
    /* background: rgb(162, 184, 103); */
    align-items: center;
    height: 80vh;
}

.avantage > ul > li >img {
    width: 60px ;
}

.avantage > ul >li {
    display: flex;
    align-items: center;
    /* background: maroon; */
    gap: 20px;
    list-style: none;
    flex-direction: column;
    font-family: "Roboto" ,serif;
}

/* .avantage > ul > li > span {
    font-style: 2rem;
} */

.avantage > ul > li:first-child > span  {
    background: linear-gradient(#7E0EAB,#330645) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.avantage > ul > li:nth-child(2) > span  {
    background: linear-gradient(#B28D5F,#89664C) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.avantage > ul > li:nth-child(3) > span  {
    background: linear-gradient(90deg,#0F0C93,#076da0) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.avantage > ul >li:nth-child(3) > img {
    width: 45px ;
}



.avantage > ul {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* section avantage fin*/



/* section services */
.container-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 50px;

}

.container-service > h1,p {
    font-family: "Roboto" ,serif;
    text-align: center;
    /* background: salmon; */
    width: 90%;
    max-width: 700px;
    box-sizing: border-box;
}

.container-service > h1 {
    font-family: "Playfair Display" ,serif;
    color: #044370;
    margin-bottom: 15px;
}

.container-service > p {
    padding-bottom: 35px ;
}

.container-service > ul  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    /* background: #64ad3a; */
    gap: 25px;
}

.container-service > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: #11145248 1px solid;
    width: 90vw;
    padding:20px ;
    max-width: 350px;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.205);
}

.container-service > ul > li > button {
    width: 100%;
    height: 50px;
    border: 1px #ED1B24 solid;
    background: rgba(255, 0, 0, 0.2);
    border-radius: 2.5px;
    font-size: larger;
    color: #00034A;
}

.container-service > ul > li > p , h2 {

    width: 90%;
    text-align: center;

}

.container-service > ul > li > p {
    font-family: "Roboto" ,serif;
    font-weight: 300;
    padding-top: 5px;
    /* background: #89ce2e; */
    box-sizing: border-box;
    width: 100%;
    /* font-size: clamp(0.9); */
    font-size: 0.9rem ;

}

.container-service > ul > li > h2 {
    /* background: rgb(12, 209, 29); */
    font-family: "Roboto" ;
    color: #263744d8;
    width: 100%;
    padding: 0px;
}

.container-service > ul >li:first-child > .img {
    width: 100%;
    height: 250px;
    margin-block: 25px ;
    background-image: url("/image/depa.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2.5px;
}
.container-service > ul >li:nth-child(2) > .img {
    width: 100%;
    height: 250px;
    margin-block: 25px ;
    background-image: url("/image/install.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2.5px;
}
.container-service > ul >li:nth-child(3) > .img {
    width: 100%;
    height: 250px;
    margin-block: 25px ;
    background-image: url("/image/secu.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2.5px;
}

/* section services fin */







/* section avis */

.avis-container-desktop {
    display: none;
}

.avis-container-mobile {
    background: mediumturquoise ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.avis-container-mobile > h1 , h3:nth-child(2) {
    /* background: #1da36b; */
    font-weight: normal;
    text-align: center;
}
.avis-container-mobile > h1  {
    width: 90vw;
    font-family: "Fugaz one" ,serif;
    font-weight: normal;
    font-size: larger;
    background: linear-gradient(#131D6E,#090660);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.avis-container-mobile > h3:nth-child(2)  {
    font-weight: normal;
    font-family: "Crimson text" ,serif;
}

.avis-container-mobile > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    background-image: url("/image/fast.jpg");
    background-position: top;
    background-repeat: no-repeat;
    padding-block: 30px ;
    height: 70vh;
    width: 100%;
    gap: 3.5rem;
    overflow-y: scroll;
    margin: 0px;
}

.avis-container-mobile > ul > li {
    display: flex;
    /* color: #c021c0; */
    align-items: center;
    flex-direction: column;
    /* background: #b113a9; */
    width: 90%;
    max-width: 400px;
    gap: 20px;
    box-sizing: border-box;
}

.avis-container-mobile > ul > li > p{
    color: rgb(255, 255, 255);
    /* background: #0f30c7; */
    background: transparent;
    width: 100%;
    letter-spacing: 2px;
    font-weight: 100;

}
.avis-container-mobile > ul > li > h3{
    color: rgb(255, 255, 255);
    font-family: "Roboto",serif;
    /* background: #0f30c7; */
    background: transparent;
    width: 60%;
    padding-top: 0.6rem;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
    border-top: 1px solid whitesmoke;


}

.avis-container-mobile > ul > li > .stars > .star  {
    display: flex;
    align-items: center;
   gap: 0.8rem;
}
.avis-container-mobile > ul > li > .stars > .star > svg {
    width: 1.8rem;
    color: red;
}


/* section avis fin */





/* section information */
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#000F89,#000423);
    /* padding-block: 2.5rem ; */
    padding-bottom: 100px;
    padding-top: 2rem;
    gap:2.5rem;
    color: whitesmoke;
}

.info-container > p {
    /* background: red; */
    margin-top : -1.25rem ;
}

.info-container > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.info-container > ul > li {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* background: violet; */
    width: 90vw;
    max-width: 300px;   

}

.info-container > ul > li:first-child {
    border-right: 1px solid white;
    box-sizing: border-box;
}
.info-container > ul > li:nth-child(3) {
    border-left: 1px solid white;
    box-sizing: border-box;
}

.info-container > ul > li >span {
    font-family: "Roboto", serif;
    text-align: center;
}

.info-container > ul > li > svg {
    
    width: 2.5rem;

}



.info-container > .ouverture {
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    font-family: "Roboto" ,serif;
    font-size: x-large;
    background: transparent;

}

.bottom-space-inforamtion {
    height: 1rem;
    max-width: 225px;
    width: 90vw;  
    border-bottom: 1px solid rgb(255, 255, 255);


}

/* section information fin */





/* section location  */
.location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.location-container > span >h1 {
    font-family: "crimson text" , serif;
    /* background: #24be71; */
    font-weight: normal;
    box-sizing: border-box;
    font-size: x-large;
    
    /* border-bottom: rgb(0, 0, 0) 1px solid; */
    padding-bottom: 5px;
}

.location-container > span > h1 > .line {
    width: 100%;
    max-width: 125px;
    border: solid black 1px;
    box-sizing: border-box;
}

.location-container > span > p {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    font-weight: 300;
    font-size: normal;
    padding-bottom: 25px;
}

.location-container > span {
    width: 100%;
    padding-inline: 20px;
    /* background: #94137e; */
    box-sizing: border-box;

}

.location-container > iframe {
    width: 100%;
    height: 50vh;
}
/* section location fin  */



/* footer */


.footer-note {
    margin-top: 30px;
    font-size: 0.75rem;
    opacity: 0.5;
}
/* footer fin */






@media (min-width:1024px ) {

    /* header desktop */
    .hero-mobile {
        display: none;
    }
    .cta-mobile-hero {
        display: none;
    }
    .hero-desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
    }

   
    
    .header-desktop {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: "Roboto" ,serif;
        height: 2.5rem;
        color: whitesmoke;
        background: linear-gradient(-90deg,#000F89,#1b1818);
        margin: 0px;
    }


    .hero-desktop >  h1 {
        display: flex;
        margin-top: 2.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #060561;
        height: 100px;
        color: whitesmoke;
        font-family:  "Fugaz one" ,serif;
        letter-spacing: 20px;
    }

    .header-desktop > ul  {
        display: flex;
        align-items: center;
        /* background: red; */
        padding-left: 1rem;
        height: 100%;
        gap: clamp(1rem,5vw,2rem);
    }
    .header-desktop > ul > li  {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        min-width: 150px;
        gap: 0.5rem;
        padding-right: 2rem;
        border-right: whitesmoke solid 1px;
    }
    .header-desktop > ul > li > svg {
        width: 20px;
    }


    .header-desktop > button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 100%;
        background: red;
        color: whitesmoke;
        width: 25vw;
        max-width: 300px;
        font-size: large;
    }
    /* header desktop fin */


    /* hero destop */
    .hero-desktop {
        display: flex;
        align-items: center;
        align-items: center;
        width: 100%;
        background: palevioletred;
        /* height: 80vh; */
        gap: -5000px;
    }

    .hero-desktop > h1 {
        width: 100%;
        text-align: center;
    }

    .hero-desktop > h2 {
        text-align: center;
        background: peru;
        width: 70vw;
    }


    .hero-desktop > .image-hero-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        background-image: url("/image/welcomephoto-desktop-1.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top ;
        width: 100%;
        margin: 0px;
    } 


    /* hero destop fin */
    


}






@media (min-width:769px) {



    /* section avantage */
    .avantage {
        height: auto;
        background: darkblue;
        display: none;
    }

    .avantage > ul {
        display: flex;
        flex-direction: row;
    }

    .avantage > ul > li {
        width: 300px;
    }

    /* section avantage fin */



     /* section service */
     .container-service > ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background: transparent;
        padding: 1.5rem;
        gap: 1.5rem;
     }
     /* section service fin */




     /* section avis */
     .avis-container-mobile {
        display: none;
     }

     .avis-container-desktop {
        height: 100vh
     }

     .avis-container-desktop ul > li > .stars > .star > svg {
        width: 25px;
     }

     .avis-container-desktop  span {
        height: 100%;
        width: 50vw;
        background: #57bb1d;
     }


     /* section avis fin */


     /* section avantage */




     .avantage > ul {
        display: flex;
        flex-direction: row;
     }
     /* section avantage fin*/

     .info-container {
        /* background: rebeccapurple; */
        width: 100%;

     }

     .info-container > ul {
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        flex-wrap: wrap;
     }

     .info-container > ul > li {
        /* background: mediumvioletred; */
        width: 150px;
     }

     .info-container > ul > li {
        padding: 0px;
        margin: 0px;
        gap: red;
     }


}